@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#faq {
    padding: 50px;
}

#faq h2 {
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

#faq li {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

#faq p {
    padding-bottom: 50px;
    font-size: 1rem;
    font-weight: 500;
}

#faq img {
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
}