@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: sticky;
}

header h3 {
    font-size: 25px;
    font-weight: 600;
}

input {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #000;
    border-radius: 4px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header nav a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}

.fa-bars {
    display: none;
}

/* showcase */

.showcase {
    background: url('/images/showcase.jpeg') no-repeat;
    background-size: cover;
    height: 80vh;
}

.showcase .info {
    color: #fff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.info h2{
    font-size: 50px;
}

.info p {
    font-size: 20px;
    width: 700px;
}


/* features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.features h3 {
    font-size: 35px;
    margin-bottom: 30px;
}

.feat-content {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}

.feat {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.feat img {
    height: 200px;
    width: 500px;
}

.feat h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

.feat p {
    font-style: 1rem;
    width: 600px;
}

/* footer */

footer {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer a {
    color: #fff;
    margin-right: 20px;
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        position: sticky;
    }
    
    header h3 {
        font-size: 18px;
        font-weight: 600;
    }
    input {
      display: none;
    }

    header nav {
        display: none;
        
    }

    
    .fa {
        display: block;
    }

    .showcase {
        background: url('https://images.pexels.com/photos/3769120/pexels-photo-3769120.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .showcase .info {
    color: #fff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.showcase .info {
    color: #fff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

    .info h2{
        font-size: 30px;
    }
    
    .info p {
        font-size: 15px;
        width: 400px;
        height: 100%;
    }

    .features h3 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .feat p {
        font-style: 1rem;
        width: 400px;
    }
 }