
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    padding: 50px;
    margin-top: 40px;
}

#fly {
    padding: 50px;
    text-align: center;
}

h2 {
     font-size: 40px;
     padding-bottom: 30px;
}

img {
    width: 100%;
    padding-bottom: 40px;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
}

ul div li {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}