@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#member-area {
    padding: 40px;
}

h2 {
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

p {
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px; 
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

ul div li {
    font-style: 18px;
    list-style: none;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
}

div #item {
    height: 500px;
    width: 100%;
    padding-bottom: 50px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

input, button {
    padding: 20px 50px;
}


