@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


.review {
    padding: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.form form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

textarea {
    padding: 20px;
}

button {
    padding: 10px 20px;
}

